
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.titulo {
    position: fixed;
    background-color: rgb(19, 19, 19);
    height: 10%;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
h3{
    position: relative;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: -25%;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
}
h1{
    position: relative;
    top: -15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
}
.botao{
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
    background-attachment: local;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
    top: -50px;

    
}
.botao:hover{
    padding: 15px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
.botao2{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
    background-attachment: local;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
    width: 100px;
}
.botao2:hover{
    padding-right: 50px;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
.titulox{
    background-color: rgb(73, 73, 190);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 20%;

}
.p{
    border-width: 5px;
    border-color: rgb(73, 73, 190);
    margin: 10%;
    border-radius: 20px;
    text-align: justify;
    color: white;
    background-color: rgb(116, 116, 116);
    font-size: 15px;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    padding: 30px;
}

a{
    text-decoration: none;
}
.botao1{
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 10px;
    background-attachment: local;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    top: -50px;
    
}
.botao1:hover{
    padding: 25px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
.esp{
    padding: 0;
}
.teste{
    position: fixed;
    background-color: rgb(255, 230, 0);
    height: 100%;
    width: 5%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
}
.conteudo{
    background-color: rgb(77, 77, 77);
    margin-left: 30px;
    border-radius: 20px;
    margin-right: 30px;
    transition: 0.5s;
}
.conteudo p{
    border-width: 5px;
    border-color: rgb(73, 73, 190);
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conteudo:hover{
    transition: 0.5s;
    background-color:rgb(148, 133, 2) ;

    
}
.h11{
        color: rgb(255, 255, 255);
        transition: 0.5s;
    }
.texto{
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
    transition: font-size 0.5s ease;
}
.h11{
    position: relative;
    top: -15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
    color: rgb(255, 230, 0);
    padding-top: 20px;
    transition: 0.5s;
}
.conteudo2{
    background-color: rgb(77, 77, 77);
    margin-left: 90px;
    border-radius: 20px;
}
.botaobairro{
    display: inline-table;
    background-color: aqua;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}
h4{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
    transition: 0.5s;
    background-color: rgba(12, 100, 243, 0.4);
}
.botaobairro .texto{
    opacity: 0;
    transition: 0.5s;
    enable-background: 0;
}
.botaobairro:hover{
    width: 320px;
    height: 370px;
}
.botaobairro:hover .texto{
    font-size: 101.6%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    enable-background: 1;
    }
.botaobairro:hover h4{
    font-size: 31px;

}
.rodape{
    position: relative;
    background-color: black;
    text-align: right;
    padding: 1px;
}
